@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar{
    color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: transparent;
}
body::-webkit-scrollbar-track{
    background-color: transparent;
}